{{ if .Skills }}
<div class="section">
    <div class="section__title">{{ i18n "skills"}}</div>
    <div class="skills">
        {{ range .Skills }}
        {{ .Family }}
        <div class="skills__item">
            {{ range .Items }}
            <div class="left">
                <div class="name">
                    {{ .Name }}
                </div>
            </div>
            <div class="right">
                {{ $rating := .Rating }}
                {{ range $id := seq .OutOf}}
                <input id="ck{{$id}}" type="checkbox" {{ if le $id $rating }} checked {{ end }}/>
                <label for="ck{{$id}}"></label>
                {{ end }}
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}